<nav class="nav-main">
  <div class="index-container nav-main-container__inner">
    <div class="nav-main-logo">
      <img src="/img/logo.svg" alt="" />
    </div>
    <div class="nav-main-center">
      <div class="nav-main-center__watch nav-icon-center active">
        <img src="/img/icons/watch-icon.svg" alt="" />
      </div>
      <a href="/profile/<%= id >"
        ><div class="nav-main-center__profile nav-icon-center">
          <img src="/img/icons/profile-icon.svg" alt="" /></div
      ></a>
    </div>
    <div class="nav-main-right">
      <div class="nav-main-right__search nav-icon-right">
        <img src="/img/icons/search-icon.svg" alt="" />
      </div>
      <div class="nav-main-right__notifs nav-icon-right">
        <img src="/img/icons/notif-icon.svg" alt="" />
      </div>
    </div>
  </div>
</nav>
