<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STIVE | Monitizing Content</title>
    <%- include("partials/headerLinks.ejs") %>
  </head>
  <body>
    <section class="landing-hero">
      <div class="landing-hero__inner">
        <div class="left-col_landing">
          <div class="logo-landing">
            <img src="/img/Logo.svg" alt="" />
          </div>
          <div class="landing-info">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
            veniam maxime earum fuga blanditiis enim, tenetur vitae sapiente
            perferendis adipisci aperiam a iure distinctio
          </div>
          <div class="landing-btns">
            <button class="btn btn-secondary btn-small"><a href="/login">Login</a></button></a>
            <button class="btn btn-primary btn-small"><a href="/signup">Register</a></button></a>
          </div>
        </div>
        <div class="right-col__landing">
          <img src="/img/landing-illu.svg" alt="">
        </div>
      </div>
    </section>
    <section class="know-founders">
      <div class="home-section-heading">
        <p>
          Know the Founders
        </p>
      </div>
      <div class="index-container founders-card-container">
        <div class="founder-card">
          <div class="founder-head">
            <div class="founder-dp">
              <img src="/img/vinayak.jpeg" alt="">
            </div>
            <div class="founder-name-pos">
              <div class="founder-name">
                Vinayak Nagaraj
              </div>
              <div class="founder-pos">
                CEO
              </div>
            </div>
          </div>
          <div class="founder-info">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, facere sequi, fuga vero sapiente autem repellat omnis quas iure aperiam aliquam. Dolorum inventore odio, quis dolor voluptate velit minus eos.
          </div>
          <div class="founder-contact">
            <a href="https://www.linkedin.com/in/vinayak--nagaraj/" target="_blank"><button class="founder-btn">Contact</button></a>
          </div>
        </div>
        <div class="founder-card">
          <div class="founder-head">
            <div class="founder-dp">
              <img src="/img/lakshya.jpg" alt="">
            </div>
            <div class="founder-name-pos">
              <div class="founder-name">
                Lakshya Satpal
              </div>
              <div class="founder-pos">
                CTO
              </div>
            </div>
          </div>
          <div class="founder-info">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, facere sequi, fuga vero sapiente autem repellat omnis quas iure aperiam aliquam. Dolorum inventore odio, quis dolor voluptate velit minus eos.
          </div>
          <div class="founder-contact">
            <a href="https://www.linkedin.com/in/lakshya-satpal-610353207/" target="_blank"><button class="founder-btn">Contact</button></a>
          </div>
        </div>
        <!-- <div class="founder-card">
          <div class="founder-head">
            <div class="founder-dp">
              <img src="/img/lakshya.jpg" alt="">
            </div>
            <div class="founder-name-pos">
              <div class="founder-name">
                Jatin Kumar
              </div>
              <div class="founder-pos">
                Design Head
              </div>
            </div>
          </div>
          <div class="founder-info">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, facere sequi, fuga vero sapiente autem repellat omnis quas iure aperiam aliquam. Dolorum inventore odio, quis dolor voluptate velit minus eos.
          </div>
          <div class="founder-contact">
            <a href="https://www.linkedin.com/in/jatin5120/" target="_blank"><button class="founder-btn">Contact</button></a>
          </div>
        </div> -->
      </div>
    </section>
  </body>
</html>
