<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Streaming | Stive | Login"</title>
    <%- include("partials/headerLinks.ejs") %>
  </head>
  <body>
    <div class="login-signup-root">
      <div class="left-col">
        <div class="left-col__container">
          <div class="logo-login-signup">
            <a href="/home"><img src="/img/Logo.svg" alt="" /></a>
          </div>
          <div class="form-container">
            <% if(error) { %>
            <div class="login-error">
              <p><%=error%></p>
            </div>
            <% } %>
            <form action="/login" method="POST">
              <div class="form-field">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" />
              </div>
              <div class="form-field">
                <label for="password">Password</label>
                <input type="password" name="password" id=" password" />
              </div>
              <div class="login-btn">
                <button type="submit" class="btn btn-large btn-primary">
                  Login
                </button>
              </div>
            </form>
          </div>
          <!-- <div class="orline-container">
            <div class="or-line">
              <div class="or-line-half"></div>
              <div class="or-line-word">or</div>
              <div class="or-line-half"></div>
            </div>
          </div>
          <div class="social-login">
            <div class="social-login-btn">
              <div class="social-icon google">
                <img src="/img/google-logo.svg" alt="" />
              </div>
              <div class="social-name">Google</div>
            </div>
            <div class="social-login-btn">
              <div class="social-icon fb">
                <img src="/img/fb-logo.svg" alt="" />
              </div>
              <div class="social-name">Facebook</div>
            </div>
          </div> -->
          <div class="login-to-signup">
            <p>Don't have an account? <a href="/signup">Sign up</a></p>
          </div>
        </div>
      </div>
      <div class="right-col">
        <div class="right-col__container">
          <img
            src="/img/login-illu.svg"
            alt="Stive Live Content creation Monitize"
          />
        </div>
      </div>
    </div>
  </body>
</html>
