.email-verification-heading {
  font-size: 5rem;
  font-family: "Oswald";
  font-weight: 300;
  color: #fff;
  margin-bottom: 5rem;
}

.email-sent-info {
  text-align: center;
}

.email-verification-text {
  font-size: 1.7rem;
  font-family: "Open Sans";
  color: #fff;
}

.email-verification-id {
  margin-top: 1.2rem;
  color: var(--color-primary-100);
}

.success-login-btn {
  margin-top: 1.2rem;
}
