.before-join-main {
  min-height: 84vh;
  background-color: var(--color-bg-900);
}

.join-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.join-thumbnail {
  width: 100%;
  height: 300px;
  border-radius: 24px;
}

.join-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
  border-radius: 24px;
}

.before-join-stream-info {
  background-color: var(--color-bg-700);
  border-radius: 24px;
  width: 60%;
}

.join-info {
  padding: 1rem 2.5rem 2.5rem 2.5rem;
  background-color: var(--color-bg-700);
  border-radius: 0 0 24px 24px;
}

.join-title,
.join-by {
  font-family: "Oswald";
}

.join-title {
  color: var(--color-text-100);
  font-weight: 500;
  font-size: 2.3rem;
}

.join-by {
  color: var(--color-text-300);
  font-weight: 400;
  font-size: 2rem;
}

.join-desc {
  font-family: "Open Sans";
  color: var(--color-text-300);
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 0.7rem;
}

.join-payment-column {
  padding: 2.6rem;
  background-color: var(--color-bg-700);
  width: 30%;
  border-radius: 24px;
  text-align: center;
}

.payment-amount {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.payment-heading {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 3.1rem;
  color: var(--color-primary-500);
}

.payment-amount {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  color: #fff;
  margin: 2rem 0;
}

.payment-currency {
  font-family: "Open Sans";
  color: var(--color-text-300);
  font-weight: 400;
  font-size: 1.3rem;
}

.pay-watch-btn {
  margin-bottom: 1.5rem;
}
