section.landing-hero {
  height: 100vh;
  width: 100%;
  background-color: var(--color-bg-900);
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-hero__inner {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.left-col_landing {
  width: 50%;
}

.logo-landing {
  margin-bottom: 7rem;
}

.landing-info {
  margin-bottom: 9rem;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Open Sans";
}

.landing-btns button:first-child {
  margin-right: 3rem;
}

.know-founders {
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg-900);
}

.home-section-heading {
  font-size: 4.4rem;
  font-weight: 400;
  font-family: "Oswald";
  color: #fff;
  text-align: center;
  padding: 3rem 0;
}

.founders-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 80%;
}

.founder-card {
  background-color: var(--color-primary-300);
  border-radius: 24px;
  width: 40%;
  margin: auto;
  padding: 2.5rem;
}

.founder-head {
  display: flex;
  align-items: center;
}

.founder-dp {
  width: 65px;
  height: 65px;
  border-radius: 100px;
  margin-right: 2rem;
}

.founder-dp img {
  width: 100%;
  border-radius: 100px;
}

.founder-name,
.founder-pos {
  font-family: "Oswald";
  font-weight: 400;
}

.founder-name {
  font-size: 2.2rem;
  color: #fff;
}

.founder-pos {
  font-size: 1.5rem;
  color: var(--color-text-500);
}

.founder-info {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--color-text-300);
  margin-top: 1rem;
}
